<%- include("./partials/head.ejs") %>
<a href="/products">Back to Index Page</a>
<h1><%=product.name%></h1>
<p>Description: <%=product.description%></p>
<img src="<%=product.img%>" width="300px" height="auto" />
<h3>Price: <%=product.price%></h3>
<p>
    <% if (product.qty > 0) { %> 
        Quantity: <%=product.qty%>
        <form action="/products/<%=product._id%>/buy" method="POST">
            <input type="submit" value="Buy" />
        </form>
    <% } else { %> 
        OUT OF STOCK 
        <% } %> 
</p>
<p>
    <form action="/products/<%=product.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
</p>
<%- include("./partials/footer.ejs") %>
